.idea/*
build
dist
scalesim.egg-info
test_runs
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
topologies/*.zip
LayerInfoV3/topologies/conv_nets/
LayerInfoV3/topologies/mlperf/


.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
